{% extends 'posts/base.html' %}

{% block body %}
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <!--프로필 이미지 넣는 공간-->
        {% if user_info.image %}
            <img src="{{ user_info.image.url }}" alt="profile_image" class="rounded-circle">
        {% else %}
            <img src="https://picsum.photos/id/{{user_info.id}}/300/300" alt="..." class="rounded-circle">
        {% endif %}
    </div>
    <div class="col-8">
        <!--개인정보가 보여지는 공간-->
        {{user_info.username}}
        {% if user != user_info %}
            {% if user_info in user.follow.all %}
                <a class="btn btn-outline-primary" href="{% url 'accounts:follow' user_info.id %}">팔로우 취소</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'accounts:follow' user_info.id %}">팔로우</a>
            {% endif %}
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'accounts:update' user_info.id %}">개인정보수정</a>
        {% endif %}
        <div class="flex-direction: column">
            <p>게시물 {{user_info.post_set.count}}</p>
            <p>팔로우 {{user_info.follower.count}}</p>
            <p>팔로워 {{user_info.follow.count}}</p>
        </div>
        <div>
            {{user_info.introduce}}
        </div>
    </div>
</div>
<div class="card-columns">
    {% for post in user_info.post_set.all %}
        {% include 'posts/_post.html' %}
    {% endfor %}
</div>
{% endblock %}